<div class="page-container">
  <h1>Users</h1>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource"
   matSort matSortActive="email" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>eMail</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="displayName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.displayName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="isActivated">
      <mat-header-cell *matHeaderCellDef>Activated?</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.isActivated}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateCreated">
      <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.dateCreated}}</mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator  [pageSize]="3" length="100"
        [pageSizeOptions]="[3, 5, 10]"></mat-paginator>

</div>
