service cloud.firestore {
  match /databases/{database}/documents {

    // **************  Reusable functions ********************
    function isAuthenticated() {
      return request.auth.uid !=null;
    }

    function isAdmin() {
       return isAuthenticated() &&
          get( /databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
     }

    function isActivated() {
       return isAuthenticated() &&
          get( /databases/$(database)/documents/users/$(request.auth.uid)).data.isActivated == true;
     }


    // ****** Document Access functionsnp

    // user document rules (Delete not allowed)

    // 1  Own user document:  read/write (except for updates to  isAdmin and isActivated properties)
    //                        special case is create   
        match /users/{user} {
          allow read , create:  if isAuthenticated() &&
                             user==request.auth.uid ;
          allow update: if isAuthenticated() &&
                          user==request.auth.uid &&
                          request.resource.data.isAdmin == resource.data.isAdmin &&
                          request.resource.data.isActivated == resource.data.isActivated;
    }

    // 2 isAdmin :  Other user documents  can read and write 
        match /users/{user} {
          allow read:  if isAdmin();
          allow write:  if isAdmin() &&
                             user!=request.auth.uid ;
        }

    // general rule - only logged on users can access any firestore document
    // match /{document=**} {
    //   allow read, write: if request.auth.uid != null;
    // }
  }
}