.about-card {
  flex-basis: 500px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 100px;
  max-width: 500px;
}

.card-header {
  background-color: rgb(235, 235, 235);
}

.appLogoImg {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.designerName {
  color: blue;
}

.card-container {
  margin-left: 10px;
  margin-right: 10px;
}
