<div class="card-container">
  <mat-card class="about-card">
    <mat-card-header class="card-header">
      <mat-card-title>About</mat-card-title>
      <mat-card-subtitle>Firebase/Material Starter Application</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/appLogo.jpg" alt="Example application image" class="appLogoImg" />
    <mat-card-content>
      <p>
        This application is used as a starting point for firebase application
        using material design UI elements. PWA support is built in.
      </p>
      <p><b>Version: </b> 2.0</p>
      <p><b>Designer: </b> David Somerville</p>
      <p>
        <b>Contact: </b>
        <a href="mailto:david.a.somerville@outlook.com">david.a.somerville@outlook.com</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
