<div class="page-container">
  <h1>Administration</h1>
  Select the administration activity from the list below.

  <mat-card class="adminMenuCard" routerLink="/users">
    <mat-card-title
      ><mat-icon>how_to_reg</mat-icon> Manage Users</mat-card-title
    >
    <mat-card-content
      >Review Users, assign roles to users, activate/deactivate
      users</mat-card-content
    >
  </mat-card>
  <mat-card class="adminMenuCard" routerLink="/">
    <mat-card-title
      ><mat-icon>create</mat-icon> Manage Application Data</mat-card-title
    >
    <mat-card-content
      >Example of a card used to navigate to specific application data or module
      administration . Used for managing items that would not be managed by a
      normal user; archiving data, removing or deleting documents, updating
      system-wide information, etc. i.e. Manage Products, Manage Customers,
      Manage Order Codes, Manage Zip Codes
    </mat-card-content>
  </mat-card>
</div>
