<div class="page-container">
  <h1>Administration</h1>
  Select the administration activity from the list below.

  <mat-card class="adminMenuCard" routerLink="/users">
    <mat-card-title>Manage Users</mat-card-title>
    <mat-card-content>Review Users, assign roles to users</mat-card-content>
  </mat-card>
  <mat-card class="adminMenuCard" routerLink="/">
    <mat-card-title>Manage Application Data</mat-card-title>
    <mat-card-content
      >Example of a card used to navigate an adminstratior to specific
      application data or module. Used for things like archiving data, removing
      or deleting document, etc
    </mat-card-content>
  </mat-card>
</div>
